.profile {
	margin: 20px auto 20px;
	padding: 20px 50px 20px;
	border: 1px solid #f5f5f5;
	background: #fff;
}

.avatar {
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	margin-left: 40px;
	margin-top: 20px;
	position: relative;
}

.nickname {
	font-size: 18px;
	font-weight: 600;
}

.social-actions {
	margin-top: 20px;
	margin-bottom: 10px
}

.fullname {
	font-size: 14px;
}

.subscribe, .message, .send {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 8px 10px;
	border-radius: 20px;
	font-weight: 600;
}

.status {
	font-weight: 13px;
	margin-top: 10px;
	color: #999;
}

.subscribe {
	color: cornflowerblue;
}

.user-info-wrapper {
	padding-bottom: 47px;
}

.message {
	margin-left: 10px;
}

.subscriber-info {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.subscriber-info-name {
	color: #afa3a3;
}

.number {
	color: #000;
	margin-top: 5px;
	display: block;
}

.gallery {
	height: 300px;
}

.image {
	overflow: hidden;
	margin-left: 0px;
	display: block;
	height: 100%;
	margin: auto;
}

.image img {
	object-fit: cover;
	width: 100%;
	display: block;
	height: 100%;
}

.add-post {
	background: #fff;
	border: 1px solid #f5f5f5;
	margin: 20px auto 20px;
	padding: 10px;
}

.post-text {
	background: #fff;
	outline: none;
	border: none;
	min-height: 100px;
	resize: none;
}

.post-image {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.new-post-bottom {
	margin-top: 10px;
	border-top: 1px solid #f5f5f5;
	padding-top: 10px;
}

.send-col {
	text-align: right;
}

.fa-camera {
	color: #ccc;
	line-height: 38px;
}