.image {
    overflow: hidden;
    display: block;
    height: 100%;
    margin: 0px auto;
}

.image img {
    object-fit: cover;
    width: 100%;
    display: block;
    height: 100%;
}

.add-post {
    background: #fff;
    border: 1px solid #f5f5f5;
    margin: 20px auto 20px;
    padding: 10px;
}

.post-text {
    background: #fff;
    outline: none;
    border: none;
    min-height: 100px;
    resize: none;
    display: block;
    width: 100%;
}

.post-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.new-post-bottom {
    margin-top: 10px;
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
}

.send-col {
    text-align: right;
}

.fa-camera {
    color: #ccc;
    line-height: 38px;
}

.send {
    background: #fff;
}

.edit {
    color: dodgerblue;
    margin-top: 10px;
    display: block;
}