<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../../resources/base.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container no-gutters menu">
		<div class="row no-gutters">
			<div class="col-4 menu-item right-border">Лента</div>
			<div class="col-4 menu-item">О сайте</div>
			<div class="col-4 menu-item left-border">Профиль</div>
		</div>
	</div>
	<div class="container content">
		<div class="row profile no-gutters">
			<div class="save"><i class="fa fa-check" aria-hidden="true"></i></div>
			<div class="col-2">
				<label for="file" class="label">
					<img src="C:\Users\ponchik\Downloads\4bdb520b63b1a1a1f3b64d06ffa8b02c.jpg" id="avatar" class="avatar" alt="">
					<input id="file" type="file" class="hidden">
				</label>
			</div>
			<div class="col-8 user-info">
				<div>
					<span class="nickname">Ivan_018</span>
					<span class="fullname">(Ivan Ivanov)</span>
				</div>
				<div class="status">
					<textarea name="status" class="status-edit" placeholder="Статус..">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel justo nunc. Donec tellus sem, tincidunt nec accumsan quis, tempus eu elit.</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="container footer">
		КФУ Высшая школа ИТИС<br>
		©Autogram
	</div>
	<script src="main.js"></script>
</body>
</html>