.profile {
	margin: 20px auto 20px;
	padding: 20px 50px 20px;
	border: 1px solid #f5f5f5;
	background: #fff;
}

.avatar {
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	margin-left: 40px;
	margin-top: 20px;
	position: relative;
}

.nickname {
	font-size: 18px;
	font-weight: 600;
}

.social-actions {
	margin-top: 20px;
	margin-bottom: 10px
}

.fullname {
	font-size: 14px;
}

.subscribe, .message {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 8px 10px;
	border-radius: 20px;
	font-weight: 600;
}

.status {
	font-weight: 13px;
	margin-top: 10px;
	color: #999;
}

.subscribe {
	color: cornflowerblue;
}

.user-info-wrapper {
	padding-bottom: 47px;
}

.message {
	margin-left: 10px;
}

.subscriber-info {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.subscriber-info-name {
	color: #afa3a3;
}

.number {
	color: #000;
	margin-top: 5px;
	display: block;
}

.subscriptions {
	margin: 20px auto 20px;
	padding: 20px 50px 0px;
	border: 1px solid #f5f5f5;
	background: #fff;
}

.avatar-miniature {
	width: 100%;
	border-radius: 50%;
}

.subscription {
	margin-bottom: 20px;
}

.username {
	margin-top: 26px;
	margin-left: 20px;
	font-weight: 600;
}

.fullname {
	margin-left: 20px;
	margin-top: 3px;
	color: #888;
}