.profile {
	margin: 20px auto 20px;
	padding: 20px 50px 20px;
	border: 1px solid #f5f5f5;
	background: #fff;
	position: relative;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.label {
	width: 100%;
	height: 100%;
	margin: auto;
    display: block;
}

.user-info {
	margin-left: 40px;
	margin-top: 20px;
	position: relative;
}

.nickname {
	font-size: 18px;
	font-weight: 600;
}

.fullname {
	font-size: 14px;
}

.status {
	font-weight: 13px;
	margin-top: 10px;
	color: #999;
}

.status-edit {
	resize: none;
	width: 100%;
	min-height: 100px;
	border: none;
	outline: none;
	margin-top: 10px;
}

.status-edit::placeholder {
	color: #ccc;
}

.save {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}